@media (min-device-width: 768px) {
    #przycisk {
        width: 200px;
        border-radius: 10px;
    }

    #gora {
        padding-top: 10px;
    }

    img.logo {
        max-width: 699px;
        width: 90%;
    }

    #footer_tekst {
        font-size: 20px;
    }

    #zawartosc {
        min-height: calc(100vh - 80px);
    }

    #footer {
        height: 80px;
    }
}

#przycisk {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #8b1d1d;
    transition: background-color 0.2s;
    transition: color 0.2s;
    color: aliceblue;
    height: 2em;
    padding-top: 0.5em;
    border-style: groove;
    border-color: black;
    margin-top: 100px;
}

@media (max-device-width: 768px) {
    img.logo {
        width: 90%;
    }

    body {
        font-size: 48px;
    }

    #przycisk {
        width: 500px;
        border-radius: 30px;
        border-width: 10px;
    }

    #gora {
        padding-top: 50px;
    }

    #footer_tekst {
        font-size: 50px;
    }

    .footer_zdjecie {
        height: 60%;
    }

    #zawartosc {
        min-height: calc(100vh - 160px);
    }

    #footer {
        height: 160px;
    }

}

#przycisk:hover {
    background-color: rgb(219, 41, 41);
    color: rgb(186, 193, 199);
}

#szukaj_blok {
    display: flex;
    margin: auto;
    justify-content: center;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('./img/school-classroom.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

#logo {
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

#zdjecie {
    display: flex;
    margin: auto;
    justify-content: center;
}

#gora {
    background-image: url('./img/tlo.png');
    background-repeat: repeat;
    background-size: 100px;
    border-radius: 0 0 10px 10px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    color: whitesmoke;
    background: rgb(137, 130, 108);
    background: linear-gradient(0deg, rgba(137, 130, 108, 1) 0%, rgba(116, 108, 97, 1) 100%);
    border-radius: 10px 10px 0 0;
}